.buttonD {
  background: var(--bg-button-color);
  font-size: var(--button-font-size);
  font-weight: 500;
  border-radius: var(--button-border-radius);
  color: var(--color);
  border: var(--button-border-width);
  padding: var(--padding);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.green {
  --bg-button-color: #56B280;
  --button-font-size: 21px;
  --button-border-radius: 4px;
  --color: white;
  --button-border-width: none;
  --padding: 8px 44px;
}

.green:hover {
  --bg-button-color: #4d9c6f;
  --color: white;
}

.text {
  --button-font-size: 16px;
  --button-border-radius: 4px;
  --color: #56B280;
  --button-border-width: none;
}

.text:hover {
  --color: white;
}
.text-hp{
  --padding: 0px 26px;
  --button-font-size: 16px;
  --button-border-radius: 4px;
  --color: rgba(0, 0, 0, 0.78);
  --button-border-width: none;
}
.text-hp:hover{
  --color: rgba(0, 0, 0, 0.57);
}
.text-hpm{
  --padding: 0px 2px;
  --button-font-size: 36px;
  --color: rgba(0, 0, 0, 0.78);
  --button-border-width: none;
}
.text-hpm:hover{
  --color: rgba(0, 0, 0, 0.57);
}
.text-h{
  --button-font-size: 16px;
  --button-border-radius: 4px;
  --color: rgba(0, 0, 0, 0.78);
  --button-border-width: none;
}
.text-h:hover{
  --color: rgba(0, 0, 0, 0.57);
}
.gray {
  --bg-button-color: #A8A8A8;
  --button-font-size: 17px;
  --button-border-radius: 4px;
  --color: white;
  --button-border-width: none;
  --padding: 9px 17px;
}
.gray:hover {
  --bg-button-color: #7c7c7c;
  --color: white;
}

.text-underline {
  --button-font-size: 18px;
  --color: #56B280;
  --button-border-width: none;
  text-decoration: underline;
}
.text-underline:hover {
  --color: #000000;
}