.name{
    font-size: 26px;
    font-weight: 500;
    text-align: center;
}
.container{
    width: 100%;
    padding: 55px 55px;
    display: flex;
    flex-direction: column;
    background: #F2F2F2;
}
.undername{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.box{
    display: flex;
    padding-bottom: 48px;
    gap:60px;
}
.green_text{
    color: #4d9c6f;
}
.bottom_box{
    padding: 15px 0 33px 0;
    border-bottom: 1px solid #bababa;
    margin-bottom: 15px;
}
.promocode{
    display: flex;
    gap: 10px;
    padding: 28px 0;
    border-top: 1px solid #9e9d9d;
    border-bottom: 1px solid #a3a3a3;
}
.cartTable tr:not(:last-child) {
    border-bottom: 1px solid #bababa;
}
.bottom{
    text-align: right;
}
.bottom_string{
    display: flex;
}
@media(max-width: 600px){
    .container{
        padding: 15px;
    }
    .bottom{
        text-align: left;
    }
    .name{
        padding-top: 60px;
    }
    .undername{
        padding-bottom: 60px;
    }
}
@media(min-width: 600px){
    .names{
        font-weight: 500;
    }
}