.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(204, 225, 241, 0.61);
}
.box{
    width: 450px;
    min-height: 250px;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 20px;
    border-radius: 20px
}
.texth{
    text-align: center;
    font-size: 32px
}
.textb{
    justify-content: center;
    padding-top: 5px;
    gap: 2px;
    font-size: 16px;
    display: flex;
}
.button{
    padding-top: 10px;

}
.modal{
    position: absolute;
    background: rgba(190, 227, 205, 0.87);
    padding: 20px;
    border-radius: 20px;
}
.modalh{
    display: flex;

}
.modalht{
    font-size: 25px;
    margin: 0% 35%;
}