.input {
  cursor: pointer;
  width: 16px;
  height: 16px;
  appearance: none;
  background: #fff;
  border: 3px solid #DBDBDB;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
}

.input:checked {
  background-color: #87D6AC;
}
